body{
background-color:#659DBD;
margin-left: 5%;
}

.container {
  background-image: url(https://www.all-about-photo.com/images/articles/ART-722-6.jpg);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}
