body{
background-color:#659DBD;
margin-left: 5%;
}

.container {
  background-image: url("https://www.all-about-photo.com/images/articles/ART-722-6.jpg");
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}

h1 {
  color: #ffffff;
  font-size:52px;
  position:relative;
  text-align:center;

}

body {
  margin-top: 100px;
  background:darkblue;
}

h1 {
  color: white;
  text-indent: 100px;
  font-size: 100px;
  font-style: normal;
}

p {
  font-family: arial;
  text-indent: 100px;
  font-size: 50px;
  margin-left: 100px;
}
.Ex-2{
color: white;
}

a:hover {
  color: white;
}

.imagebg{
  background-image: url("https://www.all-about-photo.com/images/articles/ART-722-6.jpg");
  background-size: cover;
  height: 1000px;
  width: 1000px;
  margin-left: 50px;
}

.override {
  margin-top: none;
  background: white;
}

@-ms-viewport{
  width: device-width;
}

  @media only screen and (max-width: 500px) {
    body {
      background-color: darkblue;
}
}
