body{
background-color:#26C10A;
margin-left: 5%;
}

h1 {
color:#AAF2A2;
}

.rad-movie-poster {
width: 10%;
position: relative;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
