body{

}

h1 {
color:#DCA2F2;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: LightSalmon;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: MediumSeaGreen;
}
}
